
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');


body {
    background-color: #30A2FF;
    color: #FFE7A0;
    font-family: 'PT Sans', sans-serif;
}


.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
}

.main-wrapper h1 {
    font-size: 3rem;
    text-shadow: 3px 3px #888888;
    
}


.button-wrapper {
    display: flex;
    min-width: 140px;
    width: 40%;
    max-width: 200px;
    justify-content: space-between;
}

.counter-value {
    font-size: 5rem;
    text-shadow: 3px 3px #888888;
}

button {
    background-color: #FFF5B8;
    color: #00C4FF;
    border: none;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}



button:hover {
    background-color: #fff8ce;
    ; 
    color: #0082ec;
    transition: 0.3s ease-out;
    
}